body {
  background: black url("../public/coding-background-9izlympnd0ovmpli.jpg");
  color: white;
}

.no-bullets {
  list-style-type: none;
  padding: 0px;
}

#SideBar {
  display: inline-block; /* Shrink to fit content */
  background-color: transparent; /*rgb(50, 47, 47);*/
  border-radius: 15px;
  backdrop-filter: blur(10px); /* The magic: blurs the background */
}

#root{
  font-family: 'Ubuntu', sans-serif;
}

#SideBar li:hover{
  color:red;
}
