body {
  background: black url("../public/coding-background-9izlympnd0ovmpli.jpg");
  color: white;
}

.no-bullets {
  list-style-type: none;
  padding: 0px;
}

#SideBar {
  display: inline-block; /* Shrink to fit content */
}

#SideBar li:hover{
  color:red;
}
